
NEXT_PUBLIC_URL = backend
NEXT_PUBLIC_PROTOCOL=http
PUBLIC_PORT = 5001  
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password    

# Backend Variables
OPENAI_API_KEY=your_openai_key
MODEL_NAME=gpt-4
FLASK_ENV=development
FLASK_APP=app
APP_PATH=/app/data 